<%- include('../partials/header') %>
<%- include('../partials/menu') %>


    <div class="container">
      
        <div class="container">
          <br>
          <div class="row">
            <div class="col-4">
              <div class="card">
                <img class="card-img-top" src="..\resources\Photos\Kayla.png" alt="Photo of Kayla.">
                <h2>Kayla Rude</h2>
                <p>Owner Operator</p>
              </div>
            </div>
            <div class="col-8">
              <p class="Goal">
                Shop Mission
              </p>
              <div class="descrip">
                <p>
                  My mission with this shop is to create unique designs that inspire creativity and encourage you to explore new ideas. I am also an avid activist. 
                  One of the biggest issues we face is climate change, so I have committed myself to EcoFriendly packaging. 
                  All my shipping materials are made from recycled materials and are recyclable from home. 
                  No need to go to a bag drop off just pop them in your home recycle bin! 
                  I also am aware of the myriad of other issues facing our society, which is why 15% of all proceeds from this shop will go to support a cause of your choosing. 
                  I will hold a poll at the end of the month on my Instagram @rude_nail_designs to decide where that month's donation will go! 
                  If you have any questions or concerns or want to suggest a charity/cause for donations, please send me a message on Instagram. 
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <style>
        body{
            background: -webkit-gradient(linear, left top, left bottom, from(#e1e6e9), to(#8c9cbd)) fixed;
        }
        .Goal{
          font-family: 'Poppins',sans-serif ;
          font-size: xx-large;
          font-weight: bolder;
          text-shadow: black;
          text-align: match-parent;
        }
        .descrip{
          display: inline-block;
          text-align: left;
          font-family:'Poppins',sans-serif;
          font-size: small;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 10px;
          padding-right: 10px;
          font-weight: bold;
          border: none;
          border-radius: 5px;
          background: rgb(255, 246, 254);
          box-shadow: 0 5px 10px rgba(0,0,0,0.15);
          max-width: 400px;
          max-height: 600px;
        }
        .card{
          background: none;
          border: none;
        }
      </style>
<%- include('../partials/footer') %>
