<%- include('../partials/header') %>
<%- include('../partials/menu') %>
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="..\resources\Photos\Nail Art Photos\FallingStars.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Falling Stars</h5>
      <p class="card-text">These dreamcathcer vinyls will ensure a healthy night sleep.</p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..\resources\Photos\Nail Art Photos\Music.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Music Notes</h5>
      <p class="card-text">These music notes encourage musical creativity</p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..\resources\Photos\Nail Art Photos\Math.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Math Symbols</h5>
      <p class="card-text">Use these math vinyls to express your nerdy side.</p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
</div>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="..\resources\Photos\Nail Art Photos\Pride.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Small Pride Flag</h5>
      <p class="card-text">This pride flag is designed for nails between ½ and ¾ inches. If you have any concerns or questions, please reach out.</p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..\resources\Photos\Nail Art Photos\Angel_Wing_Nail.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Angel Wings</h5>
      <p class="card-text">For those days when we need a reminder that someone is looking out for us.</p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..\resources\Photos\Nail Art Photos\Stripes.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Stripes</h5>
      <p class="card-text">No more struggling with striping tape these vinyls are here to save the day.</p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="..\resources\Photos\Nail Art Photos\Awareness Ribbon.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Awareness Ribbon</h5>
        <p class="card-text">Use a base color to represent a cause that is important to you.</p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..\resources\Photos\Nail Art Photos\Music Notes.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Music Notes</h5>
        <p class="card-text">The perfect way to show your love for all things music</p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..\resources\Photos\Nail Art Photos\Four_Leaf_Clover.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Four Leaf Clover</h5>
        <p class="card-text">xAdd a little luck to your day with these cute four leaf clover vinyls.</p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
  </div>
</div>

<style>
  	@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
  body{
    background: linear-gradient(#e4d4e3, #aac0e9,#dcf4fa);
  }
  .card-deck{
    padding-top: 20px;
  }
  p{
    text-align: center;
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
    color: black;
  }
  h5{
    text-align: center;
    font-family:'Poppins',sans-serif ;
    color: black;
    font-weight: bold;
  }
  .card
  {
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(108, 50, 110);
    border-bottom-width: 2px;
    border-width: 1px;
    box-shadow:  0 5px 10px rgba(0,0,0,0.15);;
  }

</style>
<%- include('../partials/footer') %>
