<%- include('../partials/header') %>
<%- include('../partials/menu') %>
   <!-- header image  -->
     
  <div style="text-align: center;">
    <img src="..\resources\Photos\Banner Photo.png" alt="grey" style="width: 90%;height:auto;">
  </div>
     <!-- product pictures -->
  <p class = "image" style="text-align:center; padding-left: 2%;">
    <a href="singleProduct">
      <img class = "pictures" src="..\resources\Photos\Nail Art Photos\gender.jpg" style="float:auto; width: 20%; height: auto; margin-right: 2%; margin-bottom: 0.5em; margin-top: 1em;">
    </a>
    <a href="singleProduct">
      <img class = "pictures" src="..\resources\Photos\Nail Art Photos\Pride.jpg" style="float:auto; width: 20%; height: auto; margin-right: 2%; margin-bottom: 0.5em; margin-top: 1em;">
    </a>
    <a href="singleProduct">
      <img class = "pictures" src="..\resources\Photos\Nail Art Photos\Stripes.jpg" style="float:auto; width: 20%; height: auto; margin-right: 2%; margin-bottom: 0.5em; margin-top: 1em;">
    </a>
    <a href="singleProduct">
      <img class = "pictures" src="..\resources\Photos\Nail Art Photos\Angel_Wing_Nail.jpg" style="float:auto; width: 20%; height: auto; margin-right: 2%; margin-bottom: 0.5em; margin-top: 1em;">
    </a>

  </p>
  <p style="clear: both;">

<style>
  body{
    background: -webkit-gradient(linear, left top, left bottom, from(#e1e6e9), to(#a191ad)) fixed;
  }
</style>
<%- include('../partials/footer') %>
